body {
	width:90%;
	margin: auto;
	font-family: Publico, Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: 200%;
	font-weight: normal;
	background-color: #006cb7;
	padding-left: 1%;
	color: whitesmoke;
	display: inline-block;
	padding-right: 10px;
	margin: 10px 0 0 0;
}

h2{
	background-color: #575757;
	font-size: 150%;
	clear: both;
	color: whitesmoke;
	display: inline;
	padding: 5px 10px;
	margin: 10px 0;
	font-weight: normal;
}

h3 {	
font-style: italic;
font-weight: normal;
}

table td {
	text-align: center;
}

table td:nth-of-type(1){
	text-align: left;
}

.grouphead th:nth-child(even){
	background-color: #f9f9f9;
	border-left-width: 1px;
}

table.datatable>th.color{
	background-color: #f9f9f9;
	border-left-width: 1px;
}

.dataTables_wrapper .dataTables_filter {
	float:left;
	margin-bottom: 10px;
}

.explainer, label{
	color: #404040;
	font-size: 75%;
}
.spacer {
	min-height: 10px;
}

.pagefooter {
	border-top: 1px solid #c0c0ff;
}

